<!DOCTYPE html>  <!-- HTML5 doctype -->
<html lang="en">

<head>
  <meta charset="utf-8">
  <!-- Responsive meta tag -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Payroll</title>
  <!-- DataTables -->
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">


</head>
<body>
<div class=page>  
  {% block body %}{% endblock %}
</div>

<!-- <<<<<<<<<<<<<<<<<<<<<< Optional JavaScript - Begin >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
<script>
  $(document).ready( function () {
      $('#payroll_table').DataTable({
        "lengthMenu":[[-1,10,50],["All",10,50]]
      });
  });
</script>
<!-- <<<<<<<<<<<<<<<<<<<<<< Optional JavaScript - END >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->

</body>

</html>